/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Box-Model
    margin
    padding
    boder
    content


    Box-size
*/

.caixa{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;

    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 12px;
    margin-left: 200px;

    border: 2px solid pink;
}