
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background: linear-gradient(to bottom, #f3923e, #8d505f);
}

.cabecalho {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.titulo--cinza {
    color: #fafafa;
}

.titulo--vermelho {
    color: rgb(245, 242, 240);
    
}


.input--dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.input--metade {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    transition: background-color 0.4s;
    background-color: transparent;
}

.input--metade:hover{
    background-color: #fdd061;
}

.btn--cadastro {
    padding: 10px 20px;
    background-color: #f47724;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.produtos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: center; */
    margin-top: 30px;
}

.produto {
    text-align: center;
    width: 350px;
    height: 30%;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.4s, margin-top 0.4s;
}

.produto:hover {
    box-shadow: 1px 1px 15px rgb(255, 255, 255);
    margin-top: -15px;
}

.produto img {
    width: 300px;
    height: 300px;
}

.produtos__btn-comprar{
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;

    width: 100px;
    height: 30px;
}
